.main-mail {
    width: 100%;
    background-image: url('../../../../assets/img/solid-bgi.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
}

button {
    outline: none;
}

/* mails-section */

.mail-filter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mobile-menu-btn {
    display: none;
}

.mail-filter input {
    font-size: 1.5rem;
    box-shadow: 0px 1px 5px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    border: none;
    margin-right: 5px;
    border-radius: 10px;
    padding: 7px;
    outline: none;
    transition: .3s;
}

.mail-filter input:focus {
    background-color: rgb(199, 199, 199);
}

.mail-filter .radio-sort {
    padding: 6px;
    font-size: 1rem;
}

.mail-filter .radio-sort input {
    box-shadow: none;
}

.mails-container, .mail-data-container {
    width: 80%;
    padding: 20px
}

.mail-preview {
    border-bottom: 0.5px solid rgb(200, 198, 198);
    position: relative;
    color: #4f4f4f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mail-preview .sub-body-container > *{
    width: 50%;
}

.mail-preview .address-preview{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;

}



.sub-body-container{

    align-items: center;
}

.mail-preview:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 5px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: 0.3s;
}

.mail-preview p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
}

.mail-preview div:not(:last-child) {
    width: 25%;
}

.mail-preview .date-title {
    text-align: center;
}

.fav-star-starred {
    padding-right: 15px;
    color: #ffbc00
}

.fav-star {
    padding-right: 15px;
}

.star-btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.mail-list {
    overflow: hidden;
    overflow-y: scroll;
    height: 95%;
}

.mail-list, .mail-list li {
    width: 100%;
    border-bottom: #ccc;
}

.mail-list li>* {
    text-decoration: none;
}

.readen {
    background-color: #dbdbdb8c;
    font-weight: 400;
}

.mail-details {
    width: 100%;
}

.edit-mail {
    position: absolute;
    display: none;
    background-color: #fff;
    height: 100%;
    width: 24%;
}

.mail-preview.readen .edit-mail {
    background-color: #ebebeb;
}

.edit-mail>* {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
}

.edit-mail>*:hover {
    opacity: 0.5;
}

.mail-preview:hover .edit-mail {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    right: 0;
}

.starred-btn {
    color: gold;
}

/* COMPOSE SECTION */

.compose-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.compose-btn:hover {
    font-weight: bold;
    background-color: #ccc;
}

.mail-compose {
    background-color: white;
    z-index: 6;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    box-shadow: -2px 3px 7px 0px #aba9a9;
}

.mail-compose button {
    border: none;
}

.mail-compose button:hover {
    opacity: 0.7;
}

.mail-compose .compose-header {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #0e9aa7;
    color: #f4f4f4;
    border-radius: 8px 8px 0px 0px;
}

.compose-header p {
    margin-left: 1rem;
}

.compose-header button {
    background-color: transparent;
    color: #cccbcb;
    margin-right: 0.5rem;
    cursor: pointer;
}

.compose-header button:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-compose textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    font-family: tahoma;
}

.mail-compose input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 1rem;
    width: 100%;
    font-family: tahoma;
}

.compose-footer {
    padding: 0.5rem;
    background-color: #fff;
}

.compose-footer button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-inline-start: 1rem;
    background-color: #0e9aa7;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

.compose-footer button:hover {
    background-color: #0e9aa7;
}

/* MAIL DETAILS SECTION */

.mail-data-container>*:not(:nth-child(2)) {
    padding: 10px;
}

.mail-data-container h1, .mail-data-container h3 {
    
    color: rgb(114, 114, 114);
}

.mail-data-container h3 {
    border-bottom: 1px solid #aeaeae52;
    padding: 0 10px;
    font-style: italic;
}

.mail-data-container p {
    color: rgb(114, 114, 114);
    min-height: 40%;
    font-size: 1.3rem;
}

.mail-data-container button, .mail-data-container a{
    font-size: 1rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    color: rgb(114, 114, 114);
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    margin-left: 10px;
    text-decoration: none;

    transition: 0.3s;
}

.mail-data-container button:hover, .mail-data-container a:hover {
    color: black;
    opacity: 0.7;
    background-color: #efe9e996;
    
}

.keep-btn-su-container{
    border-bottom: 1px solid #aeaeae52;
    flex-wrap: wrap-reverse;
}
.keep-btn-su-container a{
    padding: 10px;
    font-weight: 700;
    font-size: 1.2rem;
}